.dashBoard {
  overflow: hidden;
  height: 100vh;
}
.note_container {
  margin: 20px 15% 0 15%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
.note_container .note_card {
  margin-left: 100px;
}
