.dashBoard {
  overflow: hidden;
  height: 100vh;
}
// .for_scrollbar {
//   overflow: hidden;
//   overflow-y: scroll;
// }
.note_container {
  border-radius: 10px;
  margin: 20px 15% 0 20%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  width: 60%;
  height: auto;
  overflow: hidden;
}

.note_container .note_card {
  margin-left: 100px;
}
.for_scrollbar {
  .headings {
    margin-left: 20%;
  }
}
