.container{
  display: flex;
  flex-direction: column;
  overflow: auto;
  box-shadow: 0px 0px 15px -5px;
  margin: 100px 500px 1500px 500px;
  padding-bottom: 400px;
  align-items: center;
  justify-content: center;
}
#register,#login{
  color: rgb(255, 255, 255);
  background-color: rgb(6, 92, 252);
  width: 100px;
  height: 47px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}
.image{
  border: 1px solid rgb(70, 144, 146);
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  margin: 50px 50px 50px 50px;
  padding: 50px 50px 50px 50px;
  width: 350px;
  height: 350px;
  background-image: url(../components/maja-vujic-tz7CUhdxwW4-unsplash.jpg);
  // background-image: url(../components/cathryn-lavery-fMD_Cru6OTk-unsplash.jpg);
  background-size: 100%;
}
