.login-container{
  display: flex;
  flex-direction: column;
  // border: 1px solid black;
  border-radius: 2%;
  align-items: center;
  justify-content: center;
  height: 500px;
  margin: 50px 500px 200px 500px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
}
header{
  color: tomato;
}

#email,#pwd{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

.show-pwd{
  width: 200px;
  padding-left: 15px;
  margin-bottom: 20px;
}

#login-button{
  width: 100px;
  height: 30px;
  background-color: rgb(9, 74, 216);
  color: white;
  border-radius: 5px;
}

