@mixin boxes {
  // border: 1px solid rgb(17, 0, 255);
}

.full-body {
  // @include boxes;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}

.login-container {
  // @include boxes;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(200px, 500px, 700px);
}

.content {
  // @include boxes;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 500px;
  width: clamp(200px, 400px, 700px);
  box-shadow: 0px 0px 15px -5px;
  border-radius: 5px;
  padding: 10px;
  padding-top: 40px;
}
.form-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 400px;
  width: clamp(200px, 300px, 700px);
}

.block-errorMessage {
  all: unset;
  // @include boxes;
  margin-top: 20px;
}
.form-fields .block-errorMessage .show-pwd {
  // @include boxes;
  position: relative;
  left: 20px;
  top: -15px;
  margin: 0 auto;
}

.LoginField {
  // @include boxes;
  padding: none;
  margin: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 15px;
  width: clamp(200px, 300px, 500px);
  height: auto;
}
.LoginField .email-login {
  all: unset;
  margin: none;
  border: 2px solid gray;
  min-height: 40px;
  border-radius: 5px;
  width: clamp(200px, 250px, 400px);
  padding: 0px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.LoginField .password-login {
  all: unset;
  border: 2px solid gray;
  min-height: 40px;
  border-radius: 5px;
  width: clamp(200px, 250px, 400px);
  padding: 0px;
  padding-left: 20px;
}
.LoginField .placeholder {
  all: unset;
  @include boxes;
}
#errorMessage {
  all: unset;
  position: relative;
  top: -26px;
  color: red;

  display: flex;
  justify-content: flex-start;
}
.LoginField .email-ph {
  all: unset;
  // @include boxes;
  position: relative;
  top: -35px;
  margin-right: 190px;
  margin-left: 10px;
}
.LoginField .password-ph {
  all: unset;
  // @include boxes;
  position: relative;
  top: -35px;
  margin-right: 160px;
  margin-left: 10px;
}
.footer {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 45px;
}
.login-button {
  margin-top: 20px;
  width: 90px;
  height: 40px;
  font-size: 17px;
  border-radius: 5px;
  background-color: rgb(6, 92, 252);
  color: #fff;
}
.link {
  text-decoration: none;
  @include boxes;
}
.LoginField input:focus + .email-ph,
.LoginField input:valid + .email-ph {
  color: black;
  top: -58px;
  background-color: #fff;
  padding-left: 5px;
  padding-right: 5px;
}
.LoginField input:focus + .password-ph,
.LoginField input:valid + .password-ph {
  color: black;
  top: -58px;
  background-color: #fff;
  padding-left: 5px;
  padding-right: 5px;
}
