@mixin boxes {
  width: 233px;
  height: 40px;
  padding-left: 5%;
  font-size: 14px;
  border-radius: 5px;
  border: 2px solid gray;
}
.login-container{
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  width: 560px;
  height: 700px;
  border-radius: 10px;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  // border: 1px solid violet;
  width: 600px;
  height: 600px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.form-fields{
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1px solid red;
  box-shadow: none;
  width: 80%;
  height: 80%;
  padding: 0px 0px 0px 0px;
}
.LoginField{
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  // border: 1px solid red;
  width: 250px;
  height: 70px;
}
// .block-errorMessage{

// }
.LoginField {
  color: red
}

.LoginField .errors{
  color: red
}

.LoginField .email-login{
  @include boxes;
}
.LoginField .password-login{
  @include boxes;
}
.LoginField .placeholder{
  // border: 1px solid red;
  color: gray;
  position: relative;
  top: -35px;
  left: 10px;
}
.LoginField .email-ph{
  width: 17%;
}
.LoginField .password-ph{
  width: 29%;
}
.show-pwd{
  padding: 10px 10px 5px 10px;
  // border: 1px solid rgb(199, 0, 0);
}
.login-button{
  margin-top: 20px;
  width: 100px;
  height: 45px;
  font-size: 18px;
  border-radius: 5px;
  background-color: rgb(6, 92, 252);
  color: #fff;
}
a{
  text-decoration: none;
  padding-top: 25px;
}
.LoginField input:focus + .email-ph,
.LoginField input:valid + .email-ph{
  color: black;
  top: -58px;
  background-color: #fff;
  padding-left: 5px;
  padding-right: 5px;
}
.LoginField input:focus + .password-ph,
.LoginField input:valid + .password-ph{
  color: black;
  top: -58px;
  background-color: #fff;
  padding-left: 5px;
  padding-right: 5px;
}
