.Form{
  display: flex;
  // justify-content: center;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  margin: 1000px 500px 200px 1000px;
  align-items: center;
  padding: 10px 10px 10px 10px;
}