.note {
  all: unset;
  height: max-content;
  border-radius: 10px;
  box-shadow: 0px 1px 10px -5px;
  margin: 10px 10px 10px 10px;
}
.note_icons {
  all: unset;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // border: 1px solid rgb(0, 255, 64);
  margin-top: 10px;
}
.inner_note_icons {
  display: none;
  color: rgb(77, 72, 72);
  // margin: 0px 7px 0px 7px;
  padding: 0;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  // border: 1px solid red;
}
.inner_note_icons:hover {
  background-color: rgb(232, 235, 235);
  box-shadow: 0px 0px 7px -2px;
}
.Group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: none;
  padding: none;
}
.Group .pin {
  display: none;
  transition: 0.5s;
}
.note:hover {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: none;
  padding: none;
  .Group .pin {
    display: flex;
  }
  .note_icons .inner_note_icons {
    display: flex;
  }
}
