@mixin basic-flex {
  display:flex;
  align-items: center;
}

.profile{
  @include basic-flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: larger;
  margin-top: 1%;
  position: sticky;
  left: 100%;
  margin-right: 1%;
  border: 1px solid rgb(255, 255, 255);
  height: 0vh;
  width: 250px;
  transition: 0.3s;
}
.profile.active{
  border: 2px solid tomato;
  height: 30vh;
  padding-bottom: 15px;
  box-shadow: 0px 0px 15px -4px;
}
.info{
  justify-content: center;
  // border: 1px solid rgb(42, 0, 158);
  margin-top: 29px;
  padding-top: 35px;
}
.from-storage{
  @include basic-flex;
  justify-content: center;
}