$backGround1: #fff;
*{
  font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}
.Register {
  display:flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: $backGround1;
}
.form{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid #9c9c9c;
  border-radius: 10px;
  width: 500px;
  padding: 25px;
}
.info{
  padding: 10px 0px 10px 0;
}
h1{
  margin-left: 0px;
}
.name{
  display:flex;
  flex-flow: row;
}
#user-name{
  align-items: stretch;
}
.end-options{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 30px 30px 0px;
  padding-right: 30px;
}
#first,#pwd{
  margin-right: 7px;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}
input{
  margin: 30px 0 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.582);
  border-radius: 2px;
  padding: 10px 10px 10px 10px;
}
p{
  color: #272626c0;
  margin-top: 5px;
  margin-left: 25px;
}
#head-statement{
  margin: 10px;
  font-weight: 370;
  font-size: 30px;
  color: rgba(19, 20, 22, 0.931);
}
a{
  margin-left: 10px;
  font-size: large;
  font-weight: bold;
  color: rgb(57, 146, 206);
  text-decoration: none;
}
#next-btn{
  color: rgb(255, 255, 255);
  background-color: rgb(6, 92, 252);
  width: 100px;
  height: 47px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}
#show-password{
  margin-left: 10px;
}
.check-box{
  border: 2px solid black;
  width: 20px;
  height: 20px;
}
