@mixin box {
  padding: 13px 25px 13px 0px;
}
@mixin long-box{
  // display:Flex;
  // justify-content: center;
  padding: 13px 0px 13px 0px;
  width: 450px;
}
@mixin label {
  border: 1px solid rgb(0, 187, 0);
  position: relative;
  right: 175px;
  color: rgb(131, 130, 130);
}
@mixin long-label{
  border: 1px solid rgb(0, 187, 0);
  position: relative;
  right: 443px;
}
@mixin transforming {
  bottom: 23px;
  background-color: #fff;
  color: rgb(0, 0, 0);
  padding: 0px 3px 0px 3px;
  font-size: x-small;
}
@mixin transformLongBlock{

}
header{
  display:Flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(255, 0, 128);
}
h2{
  margin: none;
  padding: none;
}
footer{
  border: 1px solid rgb(255, 0, 128);
  display:Flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 0px;
}
.showPassword{
  display: flex;
  justify-content: center;
  padding: 10px 0px 10px 0px;
  margin-right: 380px;
}
a{
  border: 1px solid green;
  margin-right: 150px;
  // right: 200px;
}
button{
  color: #fff;
  background-color: rgb(2, 91, 255);
  border-radius: 5px;
  height: 45px;
  width: 100px;
}
.container{
  box-shadow: 0px 0px 15px -5px;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  // overflow: hidden;//TODO: learn it
}
.side-blocks{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid blue;
  padding: 0px 0px 0px 0px;
}
.center-block{
  display: flex;
  justify-content: center;
  flex-direction: row;
  border: 1px solid rgb(255, 0, 0);
}
.firstName input{
  @include box;
}
.lastName input{
  @include box;
}
.email input{
  @include long-box;
}
.password input{
  @include box;
}
.confirm input{
  @include box;
}
.firstName .placeholder{
  // @include transforming();
  @include label();
}
.lastName .placeholder{
  // @include transforming();
  @include label();
}
.email .placeholder{
  // @include transformLongBlock();
  @include long-label();
}
.email .ph{
  position: relative;
  right: 135px;
}
.password .placeholder{
  // @include transforming();
  @include label();
}
.confirm .placeholder{
  @include label();
  // @include transforming();
}
.firstName input:valid + .placeholder,
.firstName input:focus + .placeholder,
.lastName input:valid + .placeholder,
.lastName input:focus + .placeholder,
.center-block .email input:valid + .placeholder,
.center-block .email input:focus + .placeholder,
.password input:valid + .placeholder,
.password input:focus + .placeholder,
.confirm input:valid + .placeholder,
.confirm input:focus + .placeholder{
  @include transforming();
}