@mixin placeholder-animation {
  padding-left: 2px;
  padding-right: 2px;
  top: -58px;
  font-size: smaller;
  background-color: #fff;
}
.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}
.form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(200px, 500px, 700px);
  box-shadow: 0px 1px 15px -5px;
  border-radius: 5px;
  padding: 20px;
}
.text {
  display: flex;
  justify-content: space-between;
}
.parallel-fields {
  all: unset;
}
.custom-field {
  all: unset;
  width: 0.5rem;
}
.firstName {
  all: unset;
  border: 2px solid gray;
  min-height: 40px;
  border-radius: 5px;
  width: clamp(200px, 200px, 400px);
  padding: 0px;
  padding-left: 10px;
}
.lastName {
  all: unset;
  border: 2px solid gray;
  min-height: 40px;
  border-radius: 5px;
  width: clamp(200px, 200px, 400px);
  padding: 0px;
  padding-left: 20px;
}
.email {
  all: unset;
  border: 2px solid gray;
  min-height: 40px;
  border-radius: 5px;
  width: clamp(200px, 434px, 600px);
  padding: 0px;
  padding-left: 10px;
}
.password1 {
  all: unset;
  border: 2px solid gray;
  min-height: 40px;
  border-radius: 5px;
  width: clamp(200px, 200px, 400px);
  padding: 0px;
  padding-left: 10px;
  margin-right: 12px;
}
.password2 {
  all: unset;
  border: 2px solid gray;
  min-height: 40px;
  border-radius: 5px;
  width: clamp(200px, 210px, 400px);
  padding: 0px;
  padding-left: 10px;
  margin-right: none;
}
.error-message {
  color: red;
  margin-top: -20px;
  margin-bottom: 10px;
}
.signin-link {
  text-decoration: none;
}
.register-btn {
  width: 90px;
  height: 40px;
  font-size: 17px;
  border-radius: 5px;
  margin-right: 8px;
  background-color: rgb(6, 92, 252);
  color: #fff;
}
.placeHolder {
  position: relative;
  top: -35px;
  left: 10px;
}
.ph {
  position: relative;
  top: -35px;
  left: 300px;
}
.foot {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.parallel-fields input:focus + .placeHolder,
.parallel-fields input:valid + .placeHolder {
  @include placeholder-animation;
}
.custom-field-email input:focus + .placeHolder,
.custom-field-email input:valid + .placeHolder {
  @include placeholder-animation;
}
