@mixin side-tags{
  margin-left: -50px;
  padding-left: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  transition: 0.5s;
}
.body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: black;
}
.side-nav{
  margin-top: 4px;
  width: 220px;
  position: absolute;
  height: 87vh;
  padding-left: -10px;
  transition: all 0.6s;
  left: -100%;
}
.side-nav.active{
  left: 0;
}
ul{
  padding: 0;
}
ul li{
  list-style-type: none;
}
.inline-content1{
  background-color: #feefc3;
  @include side-tags;
}.inline-content2{
  background-color: #fffefa;
  @include side-tags;
}
.side-icon{
  margin: 0;
  padding: 0;
  color: rgb(110, 105, 105);
}
.linkTag{
  display: block;
  color: rgb(138, 132, 132);
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 30px;
  transition: 0.5s;
}
.inline-content1:hover,
.inline-content1.active{
  background-color: #f8ce4f;
  color: black;
}
.inline-content2:hover,
.inline-content2.active{
  background-color: #bbb9b4;
  color: black;
}
.linkTag:hover,
.linkTag:active{
  color: black;
}