.error{
  color: red;
}
// .text-field{
//   margin-right: 0;
//   display: flex;
//   align-items: center;
//   border: 1px solid green;
//   // padding: 10px 10px 10px 10px;
// }
.input-box{
  padding: 0px 0px 0px 0px;
  width: 100px;
  font-size: 14px;
}
label{
  margin-top: 25px;
}
.error{
  color: red;
  font-size: .9rem;
}
.field-error{
  display: flex;
  flex-direction: column;
}
.customText-field input{
  position: relative;
  font-size: 14px;
  padding-top: 20px;
  padding: 15px 50px 15px 50px;
}
.customText-field .placeholder{
  width: 70px;
  position: relative;
  left: 12px;
  top: 30%;
  // bottom: 50%;
  // padding-bottom: 50px;
  background: #fff;
  transform:translateY(-50%);
  color: gray;
  transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}
.customText-field input:valid + .placeholder,
.customText-field input:focus + .placeholder{
  // top:10px;
  bottom:50px;
  font-size: 12px;
  color: #222;
}
// /*****************/

// /*Model 2*/
.customText-field input{
  border: 2px solid rgb(150, 150, 150);
  transition: border-color 0.3s ease;
}

//Don't add this
// .customText-field input:valid,
// .customText-field input:focus {
//   top:10px;
//   font-size: 10px;
//   color: #222;
//   transition-delay: 0.1s;
// }

.customText-field input + .placeholder {
  padding: 0 5px;
  left: 8px;
}

.customText-field input:valid + .placeholder,
.customText-field input:focus + .placeholder{
  // top:20px;
  // bottom:20px;
  background: #fff;
}