.title {
  display: flex;
  flex-direction: row;
}
.fundoo {
  display: flex;
  flex-direction: row;
  // margin-left: 10px;
}
.notes {
  display: flex;
  flex-direction: row;
}
#f {
  color: rgb(243, 56, 243);
}
#u {
  color: indigo;
}
#n1 {
  color: blue;
}
#d {
  color: green;
}
#o1 {
  color: yellow;
}
#o2 {
  color: orange;
}
#n2 {
  color: rgb(255, 0, 0);
}
#o3 {
  color: rgb(243, 56, 243);
}
#t {
  color: indigo;
}
#e {
  color: rgb(5, 21, 255);
}
#s {
  color: rgb(0, 129, 32);
}
